<!-- <app-blog-item></app-blog-item> -->

<!-- <div *ngFor="let data of blogs">
    Title: {{data.title}} <br/>
    Description: {{data.description}}
</div> -->

<!-- <app-blog-item [blog]="blogs[0]"></app-blog-item> -->

<!-- <div *ngFor="let data of blogs">
    <app-blog-item *ngIf="data.published" [blog]="data"></app-blog-item>
</div> -->

<!-- <div *ngFor="let data of blogs">
    <app-blog-item *ngIf="data.published && data.authorActive" [blog]="data"></app-blog-item>
</div> -->

<!-- <div *ngFor="let data of blogs">
    <app-blog-item (actionEmitter)="executeAction($event)" [blog]="data"></app-blog-item>
</div> -->

<!-- <app-blog-item>Sibling 1</app-blog-item>
<app-blog-item>Sibling 1</app-blog-item> -->