<!-- <app-blog-item></app-blog-item> -->

<!-- <div *ngFor="let data of blogs">
    Title: {{data.title}} <br/>
    Description: {{data.description}}
</div> -->

<!-- <app-blog-item [blog]="blogs[0]"></app-blog-item> -->

<!-- <div *ngFor="let data of blogs">
    <app-blog-item *ngIf="data.published" [blog]="data"></app-blog-item>
</div> -->

<!-- <div *ngFor="let data of blogs">
    <app-blog-item *ngIf="data.published && data.authorActive" [blog]="data"></app-blog-item>
</div> -->

<!-- <div *ngFor="let data of blogs">
    <app-blog-item (actionEmitter)="executeAction($event)" [blog]="data"></app-blog-item>
</div> -->

<!-- <app-blog-item>Sibling 1</app-blog-item>
<app-blog-item>Sibling 1</app-blog-item> -->

<!-- <div *ngFor="let data of blogs; let i = index">
    <app-blog-item *ngIf="data.published && data.authorActive" (actionEmitter)="executeAction($event, i)" [blog]="data"></app-blog-item>
</div> -->

<!-- <div [ngSwitch]="num">
    <div *ngSwitchCase="1">One</div>
    <div *ngSwitchCase="2">Two</div>
    <div *ngSwitchCase="3">Three</div>
    <div *ngSwitchCase="4">Four</div>
    <div *ngSwitchDefault>None</div>
</div>
<button (click)="incrementNum()">Increment Num</button> -->

<!-- <div [ngSwitch]="num">
    <ng-container *ngFor="let data of numArray">
        <div *ngSwitchCase="data">{{data}}</div>
    </ng-container>
    <div *ngSwitchDefault>None</div>
</div>
<button (click)="incrementNum()">Increment Num</button> -->

<!-- <div [ngStyle]="{'width': '100px', 'height': '100px', 'background-color': 'red'}">
    Sample Div
</div> -->

<!-- <div [ngStyle]="{'width': width, 'height': height, 'background-color': color}">
    Sample Div
</div>
<button (click)="changeCSS()">Change CSS</button> -->

<!-- <div *ngFor="let data of blogs">
    <div [ngClass]="{'card': data.authorActive, 'card2': data.published}">
        <app-blog-item [blog]="data"></app-blog-item>
    </div>
</div> -->

<!-- <div *ngFor="let data of blogs">
    <div [ngClass]="{'card': num == 1}">
        <app-blog-item [blog]="data"></app-blog-item>
    </div>
</div> -->